
@{
    ViewBag.Title = "ShoppingSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style="text-align:center">
    <h2>Shopping Successfull</h2>
    <h4>Bill of your had sent the Shop. You will receive good in 2-3 days. See you again..Thanks</h4>
    <a class="btn btn-success" href="@Url.Action("Index","Home")">Continous Shopping...</a>
</body>

