﻿
<!DOCTYPE html>
<html>
<head>
    <title> NPH Project New Order for: {{CustomerName}}</title>
    <meta charset="utf-8" />
</head>
<body>

    Customer Name: {{CustomerName}}<br />
    Phone Number: {{Phone}} <br />
    Email: {{Email}}<br />
    Address: {{Address}}<br />
    <hr />
    <!--
      <table>
          <thead>
              <tr>
                  <th>Product</th>
                  <th>Price</th>
                  <th>Quantity</th>
              </tr>
          </thead>
          <tbody>

              <tr>

                  <td>ProductName}}</td>
                  <td>Price}}</td>
                  <td>uantity}}</td>

              </tr>
          </tbody>
      </table>-->
    Your Total: {{Total}}
    <hr />
    Thank you for shopping, your order will arrive soon...
</body>
</html>